@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    color: #32de84;
    font-weight: 700;
}
body
{
    display: flex;
    justify-content:center ;
    min-height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
}
.container
{
   width: 40%;
  text-align: center;
}
.logo
{
    margin-top: 6rem;
}
.stats-image
{
    width: 100%;
}
.headline
{
    margin-top: 2rem;
    margin-bottom: 0.9rem;
    font-size: 2rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}
.headline span
{
    font-weight: 700;
    color: black;
}
.description
{
    margin-bottom: 2.2rem;
}
.btn
{
    display: flex;
    justify-content: space-between;
}
input
{
    width: 350px;
    padding:15px 25px;
    border-radius: 50px;
    border: 2px solid #e0e0e0;
    font-weight: 300;
}
button
{
    width: 200px;
    border-radius: 50px;
    border: none;
    background: #1DA1F2;
    color: white;
    font-weight: 600;
}
button:hover
{
    cursor: pointer;
}
.stats-image
{
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.footer
{
    margin-bottom: 2rem;
}
.social
{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.icon{
    /* padding: 10px; */
    width: 2rem;
    height: 2rem;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author
{
    margin-top: 1rem;
}
.copy
{
    color: hsl(0, 0%, 59%);
}
@media (max-width:600px)
{
    .container
    {
        width: 90%;
    }
    .headline
    {
        font-size: 1.9rem;
    }
    .btn
    {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    input
    {
        width: 0;
    }
    input, button{
        width: 100%;
        padding: 15px 20px ;
    }
}
@media (max-width:450px)
{
    .stats-image
    {
        height: 200px;
    }
    .headline
    {
        margin-top: 2rem;
        font-size: 1.6rem;
    }
    .description
    {
        font-size: 0.8rem;
        margin-bottom: 2.5rem;
    }
    .copy
    {
        font-size: 0.7rem;
    }
    .author
    {
        font-size:0.8rem ;
    }
}